@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');
*{
    font-family: "Montserrat",sans-serif;
    margin: 10px;
}

h1{
    background-color: black;
    text-align: left;
    color: white;
    font-weight: 900;
    padding-left: 10px;
}
span{
    color: #47feff;
}
h2{
    text-align: center;
    background-color: #663399;
    font-weight: 700;
    color: white;
    font-style: italic;
}
h3{
    font-weight: 400;
    text-align: right;
    background-color:#9FC5F8 ;
    color:#20124e ;
    padding-right: 10px;
    text-decoration: underline;
}