@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* tarjeta */
.flex-container {
  max-width: 1000px;
  min-width: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-header {
  background-color: #17a2b8;
  height: 125px;
  margin-bottom: 70px;
}

.card-body {
  padding: 20px;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
  margin: 20px 0px;
}

.avatar-m {
  border-radius: 50%;
  background-color: #fff;
  height: 190px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
}

.icon-s {
  height: 20px;
}

#card-link {
  color: #17a2b8;
  text-decoration: none;
}
#card-link:hover {
  text-decoration: underline;
  color: blue;
}
/* tarjeta */

/* navbar */
nav {
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.nav-title {
  color: white;
}

ul {
  display: flex;
}
li {
  list-style-type: none;
  margin: 10px;
}
.link {
  vertical-align: middle;
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.btn {
  height: 25px;
  color: white;
  width: 100px;
  background-color: #3678e4;
  border: 1px solid black;
  box-shadow: 3px 3px 1.5px 0px rgba(0, 0, 0, 0.75);
}
h1,
ul {
  line-height: 2em;
  cursor: pointer;
}
.active {
  font-weight: 900;
  text-shadow: 3px rgba(0, 0, 0, 0.75);
}
.link:hover {
  color: aqua;
}
.btn:hover {
  scale: 1.1;
  cursor: pointer;
}
/* navbar */
.row {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
.col-1 {
  flex-basis: 60%;
  padding: 20px;
  margin: 10px;
}
.col-2 {
  flex-basis: 40%;
  padding: 20px;
  margin: 10px;
}
.notify-header {
  background-color: #17a2b8;
  height: 125px;
  margin-bottom: 70px;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  
}
.notify{
  color: white;
  border-radius: 50%;
  background-color: yellowgreen;
  width: 50px;
  height: 50px;
  text-align: center
}
h3{
  margin: 10px;
}
.notify-text{
  color: white;
}