.row {
  display: flex;
  color: white;
  font-weight: 900;
  font-family: sans-serif;
}
.col {
  flex-basis: 25%;
  background-color: #659DA1;
  padding: 20px;
  margin: 10px;
}
.col-1-3 {
  flex-basis: 33.33%;
  background-color: #659DA1;
  padding: 20px;
  margin: 10px;
}
.col-2-3 {
  flex-basis: 66.66%;
  background-color: #659DA1;
  padding: 20px;
  margin: 10px;
}
.col-2-5 {
  flex-basis: 40%;
  background-color: #659DA1;
  padding: 20px;
  margin: 10px;
}
.col-3-5 {
  flex-basis: 60%;
  background-color: #659DA1;
  padding: 20px;
  margin: 10px;
}
/* de igual forma se puede utilizar solo flex con 1,2,3 como daba el ejemplo de ser flex-ibles */